@import "tailwindcss";

input:hover, button:hover{
    cursor: pointer;
}

input{
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-values{
    @apply inline-flex border-[#4e6e7e] border rounded-lg;
}

.input-style{
    @apply text-[#122f3f] font-bold w-full pl-4;
}

.input-span{
    @apply flex items-center px-4 py-2 bg-[#e3f3fd] font-bold;
}

.labels{
    @apply flex flex-col gap-2.5;
}

.radio-type{
    @apply border border-[#4e6e7e] p-3 flex gap-1.5 rounded-lg text-[#122f3f] font-bold text-[16px] cursor-pointer;
}